
<%-include("./pacials/header")%> 


<form action="/update/<%= index %>" method="post">

    <input type="text" name="name" value="<%= gogo.name %>" placeholder="book name">

    <input type="text" name="author"  value="<%= gogo.author %>" placeholder="author name">

    <input type="text" name="price" value="<%= gogo.price %>" placeholder="book price">

    <button>submit</button>

</form>

<%-include("./pacials/footer")%> 