<%-include("./pacials/header")%> 


<% Books.forEach((book1 , index)=>{%>

    <h1><%= book1.name %></h1>
    <h1><%= book1.author %></h1>
    <h1><%= book1.price %></h1>
 <hr>

    <a href="/delete/<%= index %>">delete</a>

    <a href="/update/<%= index %>">update</a>

<%})%>



<%-include("./pacials/footer")%> 